@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&family=Roboto+Mono:wght@400&display=swap');

/* Nord Theme */
$polarnight-1:  #2E3440;
$polarnight-2:  #3B4252;
$polarnight-3:  #434C5E;
$polarnight-4:  #4C566A;

$snowstorm-1:   #D8DEE9;
$snowstorm-2:   #E5E9F0;
$snowstorm-3:   #ECEFF4;

$frost-1:       #8FBCBB;
$frost-2:       #88C0D0;
$frost-3:       #81A1C1;
$frost-4:       #5E81AC;

$aurora-red:    #BF616A;
$aurora-orange: #D08770;
$aurora-yellow: #EBCB8B;
$aurora-green:  #A3BE8C;
$aurora-purple: #B48EAD;


$content-width: 1050px;

html {
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: $polarnight-2;
  color: $snowstorm-3;
  margin: 0;
}

a {
  color: $frost-2;
  text-decoration: none;
}

h2 {
  margin: 5px 0;
  font-size: 1.9em;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  border-bottom: 3px solid $polarnight-3;
  display: flex;
  justify-content: center;
  min-height: 40px;
  align-self: stretch;
  padding: 5px 0;

  .header__logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
    font-size: 1.5em;
    letter-spacing: 0.10em;

    img {
      max-height: 50px;
      margin: 6px 0;
    }
  }

  .header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: $content-width + 70px;
  }

  .header__nav {
    display: flex;

    .header__nav__btn {
      display: none;
    }

    a {
      text-decoration: none;
      color: $snowstorm-3;
      font-weight: 500;
      font-size: 1.2em;
      margin: 0 6px;
      transition: all 0.2s ease-out;
    }

    a:hover {
      color: $frost-2;
    }


    a.header__nav--active {
      color: $frost-2;
    }
  }
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 0;
}

.section__content {
  width: 90%;
  max-width: $content-width;
}

.hero {
  width: 100%;
  font-size: 1.2em;
  padding: 60px 0;

  .section__content {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 10px;

    h1 {
      margin: 5px 0;
    }

    .hero__text {
      max-width: 600px;
    }

    .hero__buttons {
      display: flex;
      gap: 10px;
    }

    .hero__btn {
      font-size: 0.9em;
      border: 0;
      border-radius: 4px;
      padding: 8px 12px;
      font-weight: 500;
      text-decoration: none;
      color: $polarnight-1;
      background-color: $frost-2;
      transition: all 0.2s ease-out;
    }

    .hero__btn--download:hover {
      color: $polarnight-2;
      background-color: $snowstorm-1;
    }

    .hero__btn--install {
      color: $snowstorm-3;
      border: 2px solid $snowstorm-3;
      background-color: rgba(0, 0, 0, 0);
    }

    .hero__btn--install:hover {
      color: $polarnight-2;
      background-color: $snowstorm-1;
    }

    .hero__image img {
      width: 100%;
      max-width: 400px;
      margin: 10px 0;
    }
  }
}

.features {
  background-color: $polarnight-1;
  padding: 50px 0;
  align-items: center;

  .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .features__header {
    margin-bottom: 36px;
    text-align: center;

    div {
      color: $frost-1;
      margin: 0 0;
      font-weight: 500;
    }
  }

  .features__cards {
    width: 100%;
    max-width: $content-width;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 20px;
  }

  .feature {
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
      margin: 12px 0;
    }
  }

  .feature__body {
    color: $snowstorm-2;
  }

  .feature__icon {
    .fab, .fas, .far {
      color: $frost-2;
      font-size: 80px;
    }
  }
}

.big-preview {
  padding: 30px 0;

  .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    margin: 20px 0;
  }

  img {
    width: 100%;
    max-width: $content-width - 300px;
  }

  p {
    text-align: left;
    align-self: center;
    width: 100%;
    max-width: $content-width - 300px;
    margin: 5px 0;
    font-weight: 500;
  }
}

.wm {
  align-items: center;

  .section__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0;
  }

  h2 {
    margin: 6px 0;
  }

  .wm__header {
    text-align: center;
    max-width: 600px;
    margin: 20px 0;
  }

  .wm__image {
    $wm__image-width: 150px;

    img {
      width: $wm__image-width;
    }

    .fa-power-off {
      font-size: $wm__image-width;
    }
  }

  .wm__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
  }

  h3 {
    margin: 9px 0;
    font-size: 1.6em;
    color: $frost-2;
  }

  .wm__entry {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    min-height: 150px;
    margin: 25px 15px;
  }

  .wm__text {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    height: 100%;
    justify-content: center;
  }

  .wm__text__title--gray {
    color: $frost-4;
    margin-left: 2px;
    font-size: 80%;
  }
}

@mixin wm-colorscheme($bg, $fg, $red, $green, $blue) {
  margin-top: auto;
  display: flex;
  font-family: 'Roboto Mono', monospace;
  align-self: flex-start;
  padding: 4px 8px;
  border-radius: 5px;
  min-width: 165px;

  user-select: none;

  .wm__theme__circles {
    margin-right: 11px;
    margin-left: 4px;
  }

  i {
    margin: 0 -4px;
  }

  background-color: $bg;
  color: $fg;

  .circle--red {
    color: $red;
  }

  .circle--green {
    color: $green;
  }

  .circle--blue {
    color: $blue;
  }
}

.wm__theme.everforest {
  @include wm-colorscheme($bg:    #2b3339,
                          $fg:    #d3c6aa,
                          $red:   #e67e80,
                          $green: #a7c080,
                          $blue:  #7fbbb3);
}

.wm__theme.dracula {
  @include wm-colorscheme($bg:    #282A36,
                          $fg:    #f8f8f2,
                          $red:   #ff5555,
                          $green: #50fa7b,
                          $blue:  #bd93f9);
}

.wm__theme.onedark {
  @include wm-colorscheme($bg:    #1E222A,
                          $fg:    #ABB2BF,
                          $red:   #E06C75,
                          $green: #98C379,
                          $blue:  #61AFEF);
}

.wm__theme.nord {
  @include wm-colorscheme($bg:    #2E3440,
                          $fg:    #D8DEE9,
                          $red:   #BF616A,
                          $green: #A3BE8C,
                          $blue:  #81A1C1);
}

.wm__theme.tomorrow {
  @include wm-colorscheme($bg:    #1d1f21,
                          $fg:    #c5c8c6,
                          $red:   #cc6666,
                          $green: #b5bd68,
                          $blue:  #81a2be);
}

.footer {
  background-color: $polarnight-1;
  padding-top: 20px;
  padding-bottom: 20px;
}

@media all and (max-width: 600px) {
  .hero {
    padding: 65px 0;

    br {
      display: none;
    }

    h1 {
      font-size: 1.5em;
    }

    p {
      margin: 15px 0;
    }

    .hero__buttons {
      justify-content: flex-start;
      margin: 25px 0;
    }

    img {
      display: none;
    }
  }

  .wm {
    .wm__entry {
      margin: 25px 0;
      flex-direction: column;
      align-items: center;
      text-align: center;
      gap: 5px;

      .wm__theme {
        margin: 8px 0;
        align-self: center;
      }
    }
  }

  .wm__theme {
    min-width: 50px !important;
  }
}
